---
import WordPressPosts from "../components/WordPressPosts.astro";

const res = await fetch("https://ourdigital.org/wp-json/wp/v2/posts");
const posts = await res.json();
---
<h1>Astro + WordPress 🚀</h1>
{
  posts.map((post) => (
      <h2 set:html={post.title.rendered} />
      <p set:html={post.content.rendered} />
  ))
}